/* Base styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    padding: 20px;
    margin-left: 240px;
}

/* Styling for headers */
h1 {
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 6px;
}

h2 {
    color: #006837;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}

h3 {
    color: #d9831f;
    margin-top: 10px;
}

/* Styling for commands section */
pre, code {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    font-family: monospace;
    display: block;
    margin-top: 5px;
    white-space: pre-wrap;
}

/* Link styling */
a {
    color: #d9831f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Adjust padding and margins for better spacing */
p, ul, ol, pre, table {
    margin-top: 0;
    margin-bottom: 1em;
}

ul, ol {
    padding-left: 20px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eee;
}


/* Table of contents styling */
#TOC {
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    position: fixed;
    left: 10px;
    top: 10px;
    height: calc(100% - 20px);
    overflow-y: scroll;
}

#TOC h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
}

#TOC ul {
    padding: 0;
}

#TOC li {
    list-style: none;
    margin-top: 10px;
}

#TOC ul ul {
    padding-left: 20px;
}


/* Specific styling for first-level headers in the TOC */
#TOC > ul > li > a {
    font-weight: bold; /* Make only the first level links bold */
}

#TOC a {
    color: #333;
    text-decoration: none;
}

#TOC a:hover {
    text-decoration: underline;
}
/* Responsive styling */
@media (max-width: 600px) {
    body {
        padding: 10px;
        margin-left: 10px
    }

    nav {
        display: none
    }
}
